#db
DB_USER=your_user

DB_PASSWORD=your_password

# If u launch with docker -> db_host must be "db"
DB_HOST=your_host

DB_NAME=your_db_name

# Default -> 5432
DB_PORT=your_port

#app
# Local host example -> "http://127.0.0.1:8000/"
BASE_URL=your_base_url

#tools
# In .test.env -> TEST.
# In .env -> PROD
MODE=MODE

